/* You can add global styles to this file, and also import other style files */

@import "scss/variables";

/* fonts-icon */
@import "scss/fonts/fontawesome/scss/fontawesome";
@import "scss/fonts/feather/iconfont";

@import "scss/general";
@import "scss/generic";
@import "scss/mixins/function";

/* important element */
@import "scss/menu/menu-lite";

/* basic elements */
@import "scss/theme-elements/theme-elements";

/* third party modules style*/
@import "scss/plugins/plugins";

@import "scss/custom";

html {
  min-height: 100%;
  position: relative;

  body & {
    margin: 0;
    margin-bottom: 40px;
    overflow:hidden;
  }

  footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }
}

.page-wrapper {
  flex: 1; /* Il contenuto occupa tutto lo spazio disponibile */
  overflow-y: auto; /* Aggiunge una barra di scorrimento verticale se necessario */
  overflow-x: hidden; //padding: 20px; /* Aggiungi spazio interno a tua scelta */
  .content {
    flex: 1; /* Il contenuto occupa tutto lo spazio disponibile */
    overflow-y: auto; /* Aggiunge una barra di scorrimento verticale se necessario */
    padding: 20px; /* Aggiungi spazio interno a tua scelta */
  }
}
